<div class="grid grid-cols-3  gap-6 ">
  <div class="">
    <h5 class="text-custom-light-text dark:text-custom-dark-text font-extrabold text-2xl" >Name</h5>
    <p class="dark:text-white text-gray-900 font-semibold">{{location?.name}}</p>
  </div>

  <div class="">
    <h5 class="text-custom-light-text dark:text-custom-dark-text font-extrabold text-2xl">Type</h5>
    <p class="dark:text-white text-gray-900 font-semibold">{{location?.type}}</p>
  </div>


  <div class="">
    <h5 class="text-custom-light-text dark:text-custom-dark-text font-extrabold text-2xl">Dimension</h5>
    <p class="dark:text-white text-gray-900 font-semibold">{{location?.dimension}}</p>
  </div>

</div>
