<div class="container  ">

  <form [formGroup]="formFilterEpisode">
    <div class="flex justify-center flex-wrap gap-6 ">
      <div class="">
        <div>
          <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Busqueda Por
            Nombre</label>
          <input type="text" id="" formControlName="name"
            class="bg-custom-light-text border border-gray-300  text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-custom-dark-text dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="The Ricklantis Mixup" required />
        </div>
      </div>

      <div class="">
        <div>
          <label for="code"  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Busqueda Por
            Codigo </label>
          <input type="text"  formControlName="code" maxlength="6"
            class="bg-custom-light-text border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-custom-dark-text dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="S03E07" required />
        </div>
      </div>

    </div>

  </form>

</div>

<div class="container flex justify-evenly  mt-6 flex-wrap gap-3 md:gap-5">



  @if(checkError){
    <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-custom-dark-highlight dark:text-red-400" role="alert">
      <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Danger</span>
      <div>
        <span class="font-medium">No hay Información de Personajes con los Filtros de Busqueda
          Seleccionados.
        </span>

      </div>
    </div>
  }@else if (!checkError) {
    @for (episode of episodeList; track $index){
      <div class=" ">

        <a [routerLink]="['/episodes',episode.id]"

          class="block w-96 h-32  p-6 text-center bg-custom-light-highlight border border-gray-200 rounded-lg shadow hover:bg-green-600 dark:bg-custom-dark-highlight dark:border-gray-700 dark:hover:bg-green-900">

          <h5 class="mb-2 text-2xl font-bold tracking-tight text-custom-light-text dark:text-custom-dark-text">{{episode.name}}</h5>
          <p class="font-normal text-custom-light-text dark:text-gray-400">{{episode.air_date}}</p>
        </a>

      </div>
    }
  }

</div>
