<div class="container">
  <form [formGroup]="locationForm">
    <div class="flex justify-center flex-wrap gap-5">
      <div>
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Busqueda por
          Nombre</label>
        <input type="text" id="name" formControlName="name"
          class="bg-custom-light-text border border-gray-300  text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-custom-dark-text dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Earth" required />
      </div>

      <div>
        <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Busqueda por
          Tipo</label>
        <input type="text" id="type" formControlName="type"
          class="bg-custom-light-text border border-gray-300  text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-custom-dark-text dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Planet" required />
      </div>

      <div>
        <label for="dimension" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Busqueda por
          Dimensión</label>
        <input type="text" id="dimension" formControlName="dimension"
          class="bg-custom-light-text border border-gray-300  text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-custom-dark-text dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-900 dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Dimension C-137" required />
      </div>

    </div>
  </form>
</div>

<div class="container flex justify-evenly  flex-wrap gap-6 mt-6 mb-6">

  @if(!checkError){
    @for(location of locationList; track $index){

      <section class="text-justify">
        <a [routerLink]="['/locations',location.id]"
          class="block w-64  h-44 p-6 bg-custom-light-highlight border border-gray-200 rounded-lg shadow hover:bg-green-700 dark:bg-custom-dark-highlight dark:border-gray-700 dark:hover:bg-green-900">

          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ location.name }}</h5>
          <p class="font-normal  text-custom- dark:text-custom-dark-text">{{ location.type }}</p>
          <i class="font-bold text-gray-900 dark:text-white ">Number Residents:</i> <span
            class="text-gray-900 dark:text-white font-semibold"> {{ location.residents.length }} </span>
        </a>
      </section>


      }
      }@else {
        <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
          <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium">No hay Información de Personajes con los Datos de Busqueda
              Seleccionados.
            </span>

          </div>
        </div>
      }


</div>
