<div class="grid grid-cols-1 md:grid-cols-2 gap-5">
  <div class="">
    <h5 class="font-bold text-2xl text-custom-light-text dark:text-custom-dark-text" >Name</h5>
    <p class="text-gray-900 dark:text-white font-semibold">{{episode.name}}</p>
  </div>

  <div class="">
    <h5 class="font-bold text-custom-light-text dark:text-custom-dark-text" >Air Date</h5>
    <p class="text-gray-900 dark:text-white font-semibold">{{episode.air_date}}</p>
  </div>

  <div class="">
    <h5 class="font-bold text-custom-light-text dark:text-custom-dark-text" >Episode</h5>
    <p class="text-gray-900 dark:text-white font-semibold">{{episode.episode}}</p>
  </div>

  <div class="">
    <h5 class="font-bold text-custom-light-text dark:text-custom-dark-text" >Url</h5>
    <a target="_blank" href="{{episode.url}}"><p class="text-gray-900 dark:text-white font-semibold">{{episode.url}}</p></a>
  </div>
</div>
